// https://docs.microsoft.com/en-us/windows/win32/menurc/about-resource-files
// https://docs.microsoft.com/en-us/windows/win32/menurc/resource-definition-statements
// https://docs.microsoft.com/en-us/windows/win32/menurc/rcdata-resource

myicon ICON "icon.ico"

logo0   RCDATA "../sprites/logo.txt"

ground0 RCDATA "../sprites/ground0.txt"

cacti0  RCDATA "../sprites/cacti0.txt"
cacti1  RCDATA "../sprites/cacti1.txt"
cacti2  RCDATA "../sprites/cacti2.txt"
cacti3  RCDATA "../sprites/cacti3.txt"

rex0    RCDATA "../sprites/rex0.txt"
rex1    RCDATA "../sprites/rex1.txt"
rex2    RCDATA "../sprites/rex2.txt"
rex3    RCDATA "../sprites/rex3.txt"

coin0   WAVE "../sounds/coin0.wav"
coin1   WAVE "../sounds/coin1.wav"
hit0    WAVE "../sounds/hit0.wav"
jump0   WAVE "../sounds/jump0.wav"
jump1   WAVE "../sounds/jump1.wav"
power0  WAVE "../sounds/power0.wav"
power1  WAVE "../sounds/power1.wav"
power2  WAVE "../sounds/power2.wav"