// https://docs.microsoft.com/en-us/windows/win32/menurc/about-resource-files
// https://docs.microsoft.com/en-us/windows/win32/menurc/resource-definition-statements
// https://docs.microsoft.com/en-us/windows/win32/menurc/rcdata-resource

myicon ICON "icon.ico"

rex_0 RCDATA "../sprites/rex_0.txt"
rex_1 RCDATA "../sprites/rex_1.txt"
rex_2 RCDATA "../sprites/rex_2.txt"
rex_3 RCDATA "../sprites/rex_3.txt"

cacti_0 RCDATA "../sprites/cacti_0.txt"
cacti_1 RCDATA "../sprites/cacti_1.txt"
cacti_2 RCDATA "../sprites/cacti_2.txt"
cacti_3 RCDATA "../sprites/cacti_3.txt"